* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, century, sans-serif;
}

:root {
    --primary-color: rgb(252, 0, 0);
    --primary-fontstyle: oblique;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(48, 47, 47);
    padding: 30px 35px;
    font-size: 20px;
}

header a {
    font-style: oblique;
    text-decoration: none;
    color: var(--primary-color)
    
}

/* header navigation styles */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
}

header nav ul li {
    padding: 15px;
}

/* hero section styles */
.hero {
    background:maroon;
    padding: 100px;
    background-image: url("../images/wallpaper48.jpg");
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-position: 80%;
    position: relative;
    block-size: 200px;
}

.hero .subtitle {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background: purple;
    padding: 6px;
    margin-left: 70%;
    
}

/* header section styles */
#section-1 {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    height: 200px;
    
    padding: 0px;
    margin: 0px;
    
    
}


#box1 {
    width: 250px;
    height: 200px;
    top: 0px;
    left: 0px;
    padding: 30px;
    position: relative;
    background: green;
    text-align: right;
}

#box2 {
    width:708px;
    height: 200px;
    top: 0px;
    left: 0px;
    padding: 30px;
    position: relative;
    background: red;
    
}

.about-me {
    display: inline-block;
}


#section-2 {
    display: flex;
    justify-content: space-between;
    height: 900px;
    background: teal
}

#box3 {
    width: 250px;
    height: 900px;
    background:tomato;
    padding: 30px;
    text-align: right;
}

#box4 {
    width: 708px;
    height: 900px;
    background: violet
}

#box5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 670px;
    height: 350px;
    background: yellowgreen;
}

#box5 p {
    font-size: 100px;
}

#box6 {
    
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 670px;
    height: 210px;
    background:wheat;
    font-size: 0px;
}

#box6-child1 {
    right: 0px;
    width: 335px;
    height: 120px;
    background: blue;
    position: relative;
    
}

#box6-child2 {
    
    width: 335px;
    height: 120px;
    background: red;
    position: relative;
}

#box6-child3 {

    width: 335px;
    height: 110px;
    background: orange;
    position: relative;
}

#box6-child4 {
    
    width: 335px;
    height: 110px;
    background: turquoise;
    position: relative;
}

.children {
    display:inline-block;
}

/* footer styles */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: cyan;
    block-size: 200px;
    font-size: 20px;
}

.contact-me h1 {
    width:20%;
    padding: 30px;
    text-align: right;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
}

footer nav ul li {
    padding: 15px;
}